<!DOCTYPE html>
<html>
    <title>{{title}}</title>
    <head>
        <link rel="stylesheet" href="http://localhost:3000/style.css"/>

        <div id="navbar" class="navbar-cont"> 
            <div id="homeButton" class="navbar-button">Home</div>
            <div id="aboutButton" class="navbar-button">About</div>
        </div>
    </head>
    <body>
        <div class="container">
            <div class="center">
                {{{body}}}
            </div>
        </div>
        <script src="http://localhost:3000/script.js" type="text/javascript"></script>
    </body>
</html>