<h1>About</h1>
<p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>



<script>
    $("#container").css('visibility', 'visible');
    $("#container").hide();
    $("#container").slideDown(800)
</script>