<div>
    <form action="/login" autocomplete="off"  method="POST">
        <input type="text" name="username" placeholder="Username..."/>
        <input type="password" name="password" placeholder="Password..."/>
        <input type="submit" value="Login"/>
    </form>
</div>


<script>
    $("#container").css('visibility', 'visible');
    $("#container").hide();
    $("#container").slideDown(800)
</script>